li {
    display: inline-block;
    padding: 0pt 15pt;
    margin: 0pt;
}

ul {
    list-style-type: none;
    margin: 0pt;
    padding: 0pt;
}

.active {
    color: blue;
}

.other {
    float: left;
}

.userName {
    float: right;
    margin-right: 15pt;
}